<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Your Excellent Mad Lib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the following things to create your excellent story!</h1>
    <form action='/excellent_story'>
      <div class='form-group'>
        <label for='person1'>Person's name:</label>
        <input id='person1' name='person1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='person2'>Another Person's name:</label>
        <input id='person2' name='person2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='adjective'>Adjective:</label>
        <input id='adjective' name='adjective' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='pluralFood'>Plural Food Item</label>
        <input id='pluralFood' name='pluralFood' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='historicalFigure'>Historical Figure:</label>
        <input id='historicalFigure' name='historicalFigure' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='animal'>Animal:</label>
        <input id='animal' name='animal' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='exclamation'>Exc(ellent)lamation:</label>
        <input id='exclamation' name='exclamation' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb'>Verb (Past Tense):</label>
        <input id='verb' name='verb' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='timePeriod'>Time Period:</label>
        <input id='timePeriod' name='timePeriod' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
